In [1]:
import csv
import pandas as pd
import os

In [36]:
full_df = pd.DataFrame.from_dict({'text' : ['test'], 'rating' : ['15']})

for file_name in os.listdir('./test/pos'):
    tmp = pd.read_fwf('./test/pos/' + file_name, header = None, widths = [100000], names = ['text'])
    tmp['rating'] = file_name.split('_')[1].split('.')[0]
    full_df = pd.concat([full_df, tmp])
    
for file_name in os.listdir('./test/neg'):
    tmp = pd.read_fwf('./test/neg/' + file_name, header = None, widths = [100000], names = ['text'])
    tmp['rating'] = file_name.split('_')[1].split('.')[0]
    full_df = pd.concat([full_df, tmp])
    
full_df.to_csv('full_df_test.csv')

In [45]:
df = pd.read_csv('full_df_train.csv', skiprows = 1).drop(columns = ['0']).rename(columns = {'15' : 'rating'})
df

                                                    test  rating
0      Bromwell High is a cartoon comedy. It ran at t...       9
1      Homelessness (or Houselessness as George Carli...       8
2      Brilliant over-acting by Lesley Ann Warren. Be...      10
3      This is easily the most underrated film inn th...       7
4      This is not the typical Mel Brooks film. It wa...       8
...                                                  ...     ...
24995  Towards the end of the movie, I felt it was to...       4
24996  This is the kind of movie that my enemies cont...       3
24997  I saw 'Descent' last night at the Stockholm Fi...       3
24998  Some films that you pick up for a pound turn o...       1
24999  This is one of the dumbest films, I've ever se...       1

[25000 rows x 2 columns]